{% extends "layouts/center.html" %}

{% block action %}
  <p>{{token}}</p>

  {% if success.verified %}
  <p>您的注册邮箱已验证，请登录</p>
  {% endif %}

  {% if errors.usedLink%}
  <div class="form-errortext">您的邮箱已经验证过了，无需重复验证</div>
  {% endif %}

  {% if errors.expiredLink %}
  <div class="form-errortext">验证邮件已失效，<a href="#">重发验证邮件</a></div>
  {% endif %}

  {% if errors.invalidLink %}
  <div class="form-errortext">您似乎点击了无效的邮箱验证链接，<a href="#">重发验证邮件</a>试一试</div>
  {% endif %}

  <a class="btn btn-primary btn-block" href="/login">返回登录页</a>

{% endblock %}