{% extends "layouts/android.html" %}

{% block title %}最新版安卓{% endblock %}

{% block content %}
  {% if flash %}{{ flash.render() | safe }}{% endif %}
  
  <p class="lead text-center">最新版 {{latest.versionName}}</p>

  {% if latest %}
    {% set release = latest %}
    <div class="mt-3">
      <a href="{{latest.apkUrl}}" class="btn btn-primary btn-block">马上下载</a>
    </div>
    
    <hr class="my-4">

    <p class="text-muted mt-3">发布时间：{{ latest.createdAt | toCST }}</p>

    <div class="pb-2 pt-2 border-bottom">
      <p class="text-muted">更新日志</p>
      {% markdown %}
        {{ latest.body }}
      {% endmarkdown %}
    </div>

  {% endif %}
{% endblock %}
