{% extends "layouts/android.html" %}

{% block title %}最新版安卓{% endblock %}

{% block content %}
  {% if flash %}{{ flash.render() | safe }}{% endif %}
  
  <p class="lead text-center">最新版 {{latest.versionName}}</p>
  <a href="{{latest.apkUrl}}" class="btn btn-primary btn-block">马上下载</a>

  <hr class="my-4">

  <p>发布时间：{{ latest.releaseTimeCST() }}</p>

  <p class="text-muted">更新日志</p>
  {% markdown %}
    {{ latest.body }}
  {% endmarkdown %}

  <hr class="my-4">

  <p class="text-right"><a href="{{ allReleasesUrl }}">历史版本</a></p>

{% endblock %}
