{% extends "layouts/two-cols.html" %} 

{% block content %}
  {% if user.isWxOnly() %}
    <div class="mt-3 text-center">
      {% include "partials/urge-link.html" %}
    </div>
  {% else %}

    {% for section in sections %}
      <div class="mt-3 pb-3 mb-3">
        {% if section.heading %}
          <h5 class="pb-2 border-bottom">{{ section.heading }}</h5>
        {% endif %}

        {% for item in section.items %}
        <div class="d-flex justify-content-between mb-3 pb-3{% if not loop.last %} border-bottom{% endif %}">
            <span class="mr-auto">{{ item.label }}</span>

            {% if item.value %}
              <span class="pl-2 pr-2">{{ item.value }}</span>
            {% endif %}

            <a href="{{ item.link }}" class="pl-2 pr-2">{{ item.linkText if item.linkText else "修改" }}</a>
        </div>
        {% endfor %}

      </div>
    {% endfor %}

  {% endif %}
{% endblock %}
