{% extends "layouts/content.html" %} 

{% block content %}
  <h2 class="mt-3 mb-5">绑定FT中文网账号</h2>
  
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h5 class="text-center">验证</h5>

      {% include "partials/alert-danger.html" %}

      <p>该邮箱已经注册了FT中文网账号，验证密码后可以合并账号</p>

      <form method="post">

        {% for input in inputs %}
          <div class="form-group">
            {% include "partials/text-input.html" %}
          </div>
        {% endfor %}
        
        <button
          class="btn btn-block btn-primary" 
          type="submit"
          data-disable-with="正在验证...">验证</button>
      </form>

      <div class="mt-3">
        <a target="_blank" href="{{ pwResetLink }}">忘记密码?</a>
      </div>
    </div>
  </div>
{% endblock %}
