{% extends "layouts/two-cols.html" %} 

{% block content %}
  <h2 class="mt-3 mb-5">绑定FT中文网账号</h2>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h5 class="text-center">创建FT中文网账号</h5>

      <p>该邮箱尚未注册FT中文网账号，请设置密码创建账号</p>

      <form method="post">
        {% for input in inputs %}
          <div class="form-group">
            {% include "partials/text-input.html" %}
          </div>
        {% endfor %}
      
        <button 
          class="btn btn-block btn-primary" type="submit"
          data-disable-with="正在注册...">注册</button>
      
      </form>
    </div>
    
  </div>

{% endblock %}
