{% extends "layouts/two-cols.html" %} 

{% block content %}
  <h2 class="mt-3 mb-5">解除账号绑定</h2>
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="card mb-3">
        <ul class="list-group list-group-">

          {% for item in card.list %}
          <li class="list-group-item d-flex justify-content-between">
            <span>{{ item.label }}</span>
            <span>{{ item.value }}</span>
          </li>
          {% endfor %}

        </ul>
      </div>

      <form action="" method="post">
        {% if form %}
          <p>{{ form.header }}</p>
          {% set radio = form.radio %}
          {% include "partials/radio.html " }
        {% endif %}

        <div class="mt-5">
          <button 
            class="btn btn-block btn-primary"
            type="submit"
            data-disable-with="正在解绑...">解除绑定</button>
        </div>
        
      </form>
    </div>
  </div>
{% endblock %}
