{% extends "layouts/base.html" %} 

{% block main %}

<div class="row">
  {% include "profile/nav.html" %}
  <div class="col-9">
    {% if flash.nameUpdated %}
    <p>用户名已更新</p>
    {% endif %}
    {% if flash.mobileUpdated %}
    <p>手机号码已更新</p>
    {% endif %}
    <section class="pt-2 mb-3">
      <h5>用户名</h5>
      <form action="/profile/account/rename" method="post">
        <div>
          <input type="hidden"
          name="user[oldName]"
          value="{{user.name}}">
        </div>
        <div class="form-group">
          <input class="form-control"
          id="userName"
          type="text"
          name="user[name]"
          value="{{user.name}}">

          <small class="form-text text-muted">20字符以内</small>
        </div>
        
        <button type="submit" class="btn btn-primary">保存</button>
      </form>
    </section>

    <section class="pt-2 mb-3">
      <h5>手机号码</h5>
      <form action="/profile/account/mobile" method="post">
        <div>
          <input type="hidden" name="user[oldMobileNumber]" value="{{user.mobileNumber}}">
        </div>
        <div class="form-group">
          <input class="form-control"
          id="userMobileNumber"
          type="text"
          name="user[mobileNumber]"
          value="{{user.mobileNumber}}">
        </div>
        <button type="submit" class="btn btn-primary">保存</button>
      </form>
    </section>
    <section class="pt-2 mb-3">
      <h5>社交账号</h5>
      <ul>
        <li><a href="#">绑定微信</a></li>
        <li><a href="#">绑定微博</a></li>
        <li><a href="#">绑定QQ</a></li>
      </ul>
    </section>
  </div>
</div>
{% endblock %}