{% extends "layouts/base.html" %} 

{% block main %}

<div class="row">
  {% include "profile/nav.html" %}
  <div class="col-9">

    <section class="pt-2 mb-3">
      {% if user and (not user.verified) %}
      <div>请验证您的注册邮箱</div>
      {% endif %}

      {% if errors.verifyFailed %}
      <div>您似乎点击了无效的验证链接</div>
      {% endif %}

      {% if emailUpdated %}
      <p>邮箱已更新，我们给您的新邮箱发送了激活邮件，请点击邮件中的链接确认新邮箱有效</p>
      {% endif %}
      
      <h5>邮箱</h5>
      <form method="post">
        <div>
          <input type="hidden" name="email[current]" value="{{email.current}}">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="email[new]" value="{{email.new}}">

          {% if errors.email %}
          <div class="form-errortext">{{errors.email}}</div>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">更新</button>
        {% if not userinfo.verified %}
        <a href="">发送验证邮件</a>
        {% endif %}
      </form>

    </section>
    
  </div>
</div>
{% endblock %}