{% extends "layouts/base.html" %} 

{% block main %}
<div class="row">
  {% include "profile/nav.html" %}
  <div class="col-9">
    <section>
      <h5>邮件设置</h5>
      <form action="/users/{{id}}/newsletter" method="post">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="newsletter[todayFocus]" id="newsletterTodayFocus">
          <label class="form-check-label" for="newsletterTodayFocus">接收“今日焦点”邮件</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="newsletter[weeklyChoice]" id="newsletterWeeklyChoice">
          <label class="form-check-label" for="newsletterWeeklyChoice">接收“一周精选”邮件</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="newsletter[noonExpress]" id="newsletterNoonExpress">
          <label class="form-check-label" for="newsletterNoonExpress">接收“午后速递”邮件</label>
        </div>
        <button type="submit" class="btn btn-primary">保存</button>
      </form>
    </section>
  </div>
</div>
{% endblock %}