{% extends "layouts/profile.html" %} 

{% block content %}

    {% if alert.saved %}
      <div class="alert alert-success" role="alert">邮件设置已保存</div>
    {% endif %}
    
    <section>
      <h5>邮件设置</h5>
      <form method="post">
        <div class="form-check">
          <input class="form-check-input"
          id="letterTodayFocus"
          type="checkbox"
          name="letter[todayFocus]"
          value="true"
          {% if letter.todayFocus %} checked{% endif %}>
          <label class="form-check-label" for="letterTodayFocus">接收“今日焦点”邮件</label>
        </div>
        <div class="form-check">
          <input class="form-check-input"
          id="letterWeeklyChoice"
          type="checkbox"
          name="letter[weeklyChoice]"
          value="true"
          {% if letter.weeklyChoice %} checked{% endif %}>
          <label class="form-check-label" for="letterWeeklyChoice">接收“一周精选”邮件</label>
        </div>
        <div class="form-check">
          <input class="form-check-input"
          id="letterAfternoonExpress"
          type="checkbox"
          name="letter[afternoonExpress]"
          value="true"
          {% if letter.afternoonExpress %} checked{% endif %}>
          <label class="form-check-label" for="letterAfternoonExpress">接收“午后速递”邮件</label>
        </div>
        <button type="submit" class="btn btn-primary">保存</button>
      </form>
    </section>

{% endblock %}