{% extends "layouts/profile.html" %} 

{% block content %}
{% if alert.saved %}
  <div class="alert alert-success" role="alert">密码修改成功</div>
{% endif %}

<h5>更改密码</h5>

<form method="post" action="/profile/password">
  <div class="form-group">
    <label for="oldPassword">当前密码</label>
    <input type="password"
    class="form-control"
    id="oldPassword"
    name="oldPassword"
    required>

    {% if errors.oldPassword %}
      <div class="form-errortext">{{errors.oldPassword.message}}</div>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="newPassword">新密码</label>
    <input type="password"
    class="form-control"
    id="newPassword"
    name="newPassword"
    required>
    <small class="form-text text-muted">8-20个字符，不能使用空格、表情符号</small>

    {% if errors.newPassword %}
      <div class="form-errortext">{{errors.newPassword.message}}</div>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="confirmPassword">再次输入新密码</label>
    <input type="password"
    class="form-control"
    id="confirmPassword"
    name="confirmPassword"
    required>

    {% if errors.confirmPassword %}
      <div class="form-errortext">{{errors.confirmPassword.message}}</div>
    {% endif %}
  </div>
  
  <button type="submit" class="btn btn-primary">保存密码</button>
  <a href="/password-reset" target="_blank">忘记密码？</a>
</form>

{% endblock %}