{% extends "layouts/content.html" %} 

{% block content %}

<section class="mt-3">
  <h5>个人信息</h5>

  {% if flash %}{{ flash.render() | safe }}{% endif %}

  {% if form %}
  <form method="post">
    <div class="form-row">
      {{ form.familyName.render() | safe }}
      {{ form.givenName.render() | safe }}
    </div>

    <div class="form-group">
      <label class="form-label">性别</label>
      {{ form.genderMale.render() | safe }}
      {{ form.genderFemale.render() | safe }}
    </div>

    {{ form.birthday.render() | safe }}
    
    {{ form.submitBtn.render() | safe }}
  </form>
  {% endif %}
</section>


{% endblock %}
