{% extends "layouts/content.html" %}

{% block content %}
  
  <div class="text-center mt-3">
    {% if guide.header %}
      <h5>{{ guide.header}}</h5>
    {% endif %}

    {% for row in guide.rows %}
      <p>{{ row }}</p>
    {% endfor %}
  </div>
  
  {% if success %}
  <table class="table">

    {% if success.caption %}
      <caption class="text-center">{{ success.caption }}</caption>
    {% endif %}

    <tbody>
      {% for row in success.rows %}
      <tr>
        {% for col in row %}
          {% if loop.index == 1 %}
            <th scope="col">{{ col }}</th>
          {% else %}
            <td>{{ col }}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
    
  </table>
  {% endif %}

  {% if failed %}
    <div class="text-center mt-3">
      {% if failed.header %}
        <h5>{{ failed.header}}</h5>
      {% endif %}

      {% for row in failed.rows %}
        <p>{{ row }}</p>
      {% endfor %}
    </div>
  {% endif %}

  <p class="text-center">
    <a class="btn btn-primary" href="{{ backLink }}">返回</a>
  </p>

{% endblock %}
