{% extends "layouts/content.html" %} 

{% block content %}
  <div class="row justify-content-center">
    <div class="col-sm-6">

      {% include "partials/card.html" %}
      
      {% if form %}
      <div class="card mt-5">
        <div class="card-header">请选择支付方式</div>
        <div class="card-body">
          <form action="{{ form.action }}" method="{{form.method}}">
            
            {% for control in form.controls %}
              {{ control.render() | safe }}
            {% endfor %}

            <div class="mt-3">
              {{ form.submitBtn.render() | safe }}
            </div>
            
          </form>
        </div> 
      </div>
      {% endif %}
      <!-- End card -->

      {% if qr %}
      <div class="text-center mt-5">
        <h4>请打开微信扫码</h4>
        <img src="{{ qr.dataUrl }}" alt="">
        <div class="mt-1">
            <small>微信 -> 发现 -> 扫一扫</small>
        </div>
        <a href="{{ qr.doneLink }}">支付完成？</a>
        <p class="mt-2 text-muted">
          <small>注：由于微信支付技术上的限制，此处购买FT会员仅能支持扫码支付。如果您需要在移动设备上购买，请安装FT中文网APP。</small>
        </p>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
