<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% for size in env.iconDimens %}
    <link rel="apple-touch-icon" sizes="{{size}}x{{size}}" href="{{env.iconBaseUrl}}/apple-touch-icon-{{size}}x{{size}}.png">
  {% endfor %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{iconUrl}}/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{iconUrl}}/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{iconUrl}}/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{iconUrl}}/apple-touch-icon-76x76.png">

  <link href="{{iconBaseUrl}}/favicon.ico" type="image/x-icon" rel="shortcut icon"/>

  <title>{{ pageTitle }} - FT中文网</title>
  
  {% if env.isProduction %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{env.bsVersion}}/css/bootstrap.min.css" rel="stylesheet">
    {% include "assets/style.html" %}
  {% else %}
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/style/main.css">
  {% endif %}

  {% for incl in styles.includes %}
    {% include incl %}
  {% endfor %}
  
  <script src="https://js.stripe.com/v3"></script>
</head>
<body>
  <header class="navbar o-header">
    <div class="container justify-content-between">

      <div class="d-flex align-items-center">
        <a class="navbar-brand" href="http://www.ftchinese.com" target="__blank">FT中文网</a>

        <a class="navbar-text" href="{{subBrand.href}}">{{subBrand.text}}</a>

      </div>
      
      {% block headerDrawer%}{% endblock %}
    </div>
  </header>

  {% block topBanner %}{% endblock %}

  <main class="page-content" role="main">
    <div class="container">
      {% block main %}{% endblock %}
    </div>
  </main>

  <footer class="o-footer o-footer--theme-dark">
    <div class="container">
      <div class="row" id="footer">
        {% for group in env.footer %}
          <div class="col-6 col-md-3 col-lg-2">
  
            <h6 class="o-footer__matrix-title">{{group.title}}</h6>
            <div class="o-footer__matrix-content">
  
              {% for item in group.items %}
              <a class="o-footer__matrix-link" href="{{item.href}}" target="_blank">{{item.text}}</a>
              {% endfor %}	
  
            </div>
  
          </div>
        {% endfor %}		
      </div>

      <div class="o-footer__copyright">
        <small>
          {{env.copyright}}.
          <abbr title="Financial Times" aria-label="F T">FT</abbr> and ‘Financial Times’ are trademarks of The Financial Times Ltd.
        </small>
      </div>
      <div class="text-muted pb-3">
        <small>v{{env.appVersion}}</small>
      </div>
    </div>
  </footer>
  
  {% if env.isProduction %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/{{env.bsNativeVersion}}/bootstrap-native-v4.min.js"></script>
    {% include "assets/script.html" %}
    {% if useStripe %}

    {% endif %}
  {% else %}
    <script src="/bootstrap.native/dist/bootstrap-native.js"></script>
    <script src="/script/main.js"></script>
    {% if stripeApiJwt %}
      <script src="/script/stripe-pay.js"></script>
    {% endif %}
  {% endif %}

</body>
</html>
