{% extends "layouts/two-cols.html" %}

{% block content %}

<h2 class="mt-4">反馈</h2>

<p>对新版MyFT有什么想法？告诉我们吧</p>

<form action="" method="post">
  <div class="form-group">
    <label for="feedbackTitle">标题</label>
    <input class="form-control"
      id="feedbackTitle"
      type="text"
      maxlength="64"
      name="feedback[title]"
      value="{{feedback.title}}">

    {% if errors.title %}
      <div class="form-errortext">{{errors.title}}</div>
    {% endif %}
  </div>

  <div class="form-group">
    <label for="content">内容</label>
    <textarea 
      class="form-control"
      name="feedback[content]" 
      id="feedbackContent" 
      cols="30" 
      rows="10"
      maxlength="512">{{feedback.content}}</textarea>

    {% if errors.content %}
      <div class="form-errortext">{{errors.content}}</div>
    {% endif %}
  </div>

  <button
    type="submit" 
    class="btn btn-primary"
    data-disable-with="正在提交...">提交</button>
</form>
{% endblock %}
