{% extends "layouts/center.html" %}

{% block content %}
<div class="mt-4">
  <h4 class="text-center">登录FT中文网</h4>

  {% include "widget/flash.html" %}
  <form method="{{form.method}}" id="loginForm">

    {% for control in form.controls %}
      <div class="form-group">
        {% include "widget/form-control.html" %}
      </div>
    {% endfor %}

    <div class="form-check">
      <input class="form-check-input"
        id="rememberMe"
        type="checkbox"
        name="rememberMe"
        value="true"
        checked>
      <label for="rememberMe">记住我</label>

    </div>

    {% if form.submitBtn %}
      {% set button = form.submitBtn %}
      {% include "widget/button.html" %}
    {% endif %}
  </form>

  <div class="d-flex justify-content-between mt-3">
    <a href="{{ pwResetLink }}">忘记密码?</a>
    <a href="{{ signUpLink }}">新建账号</a>
  </div>

  {% if not isMobile %}
  <div class="text-center mt-5">
    <a href="{{ wxLoginLink }}">
      <img src="{{ wxIcon }}" alt="微信登录">
    </a>
  </div>
  {% endif %}
</div>

{% endblock %}
