{% extends "layouts/center.html" %}

{% block content %}
<div class="mt-4">
  <h4 class="text-center">登录FT中文网</h4>

  {% if flash %}{{ flash.render() | safe }}{% endif %}
  
  <form method="{{form.method}}" id="loginForm">

    {% for control in form.controls %}
      {{ control.render() | safe }}
    {% endfor %}

    {{ form.submitBtn.render() | safe }}
  </form>

  <div class="d-flex justify-content-between mt-3">
    <a href="{{ pwResetLink }}">忘记密码?</a>
    <a href="{{ signUpLink }}">新建账号</a>
  </div>

  {% if not isMobile %}
  <div class="text-center mt-5">
    <a href="{{ wxLoginLink }}">
      <img src="{{ wxIcon }}" alt="微信登录">
    </a>
  </div>
  {% endif %}
</div>

{% endblock %}
