{% extends "layouts/content.html" %} 

{% block content %}

{% if errors.email_token %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <span>{{errors.email_token.message}}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

{% if alert.done == "letter_sent" %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <span>验证邮件已发送</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

{% if alert.done == "email_verified" %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <span>您的登录邮箱已成功验证</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

{% if alert.done == "email_saved" %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <span>邮箱已更新，我们给您的新邮箱发送了激活邮件，请点击邮件中的链接确认新邮箱有效</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

{% if alert.done == "newsletter_saved" %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <span>邮件设置已保存</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}


<section>
  <h5>邮件设置</h5>
  <form method="post" action="{{sitemap.emailNewsletter}}">
    <div class="form-check">
      <input class="form-check-input"
        id="letterTodayFocus"
          type="checkbox"
          name="letter[todayFocus]"
          value="true"
          {% if letter.todayFocus %} checked{% endif %}>
      <label class="form-check-label" for="letterTodayFocus">接收“今日焦点”邮件</label>
    </div>
    <div class="form-check">
      <input class="form-check-input"
        id="letterWeeklyChoice"
        type="checkbox"
        name="letter[weeklyChoice]"
        value="true"
        {% if letter.weeklyChoice %} checked{% endif %}>
      <label class="form-check-label" for="letterWeeklyChoice">接收“一周精选”邮件</label>
    </div>
    <div class="form-check">
      <input class="form-check-input"
        id="letterAfternoonExpress"
        type="checkbox"
        name="letter[afternoonExpress]"
        value="true"
        {% if letter.afternoonExpress %} checked{% endif %}>
      <label class="form-check-label" for="letterAfternoonExpress">接收“午后速递”邮件</label>
    </div>
    <button type="submit" class="btn btn-primary">保存</button>
  </form>
</section>

{% endblock %}
