{% extends "layouts/center.html" %}

{% block content %}
<div class="mt-4">
  <h4 class="text-center">创建FT中文网账号</h4>

  {%if flash %}{{ flash.render() | safe }}{% endif %}
  <form method="post">
  
    {% for control in form.controls %}
      <div class="form-group">
        {{ control.render() | safe }}
      </div>
    {% endfor %}
  
    {{ form.submitBtn.render() | safe }}
  
  </form>
  <p class="text-center"><small class="">注册即代表您同意FT中文网<a href="http://www.ftchinese.com/m/corp/service.html" target="_blank">《用户注册协议》</a></small></p>
  
  <p class="text-center">已有账号？<a href="{{ loginLink }}">登录</a></p>
</div>

{% endblock %}
