{% extends "layouts/base.html" %} 

{% block content %}

<section class="mt-3">
  <h5>用户名</h5>
  <form action="{{sitemap.userName}}" method="post">

    <div class="form-group">
      <input class="form-control"
        id="name"
        type="text"
        maxlength="64"
        name="profile[userName]"
        value="{{profile.userName}}">

      <small class="form-text text-muted">20字符以内</small>

      {% if errors.userName %}
        <div class="form-errortext">{{errors.userName}}</div>
      {% endif %}
    </div>
    
    <button type="submit" class="btn btn-primary">保存</button>
  </form>
</section>

{% endblock %}
