{% extends "layouts/base.html" %} 

{% block content %}

<section class="mt-3">
  <h5>手机号码</h5>
  <form action="{{sitemap.mobile}}" method="post">

    <div class="form-group">
      <input class="form-control"
        id="mobile"
        type="text"
        name="profile[mobile]"
        value="{{profile.mobile}}">

      {% if errors.mobile %}
        <div class="form-errortext">{{errors.mobile}}</div>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">保存</button>
  </form>
</section>



{% endblock %}
