{% extends "layouts/base.html" %} 

{% block content %}

  <section class="mt-3 pb-3 mb-3 border-bottom">

    <h5>登录邮箱</h5>
    <form method="post">
      <div class="form-group">
        <input class="form-control"
        id="email"
        type="email" 
        name="email" 
        value="{{email}}"
        required>
  
        {% if errors.email %}
          <div class="form-errortext">{{errors.email}}</div>
        {% endif %}
      </div>
  
      <button type="submit" class="btn btn-primary">更新</button>
    </form>
  </section>

{% endblock %}
