{% extends "layouts/base.html" %} 

{% block content %}
  {% if account.isVip %}
    <dl>
      <dt>会员类型</dt>
      <dd>VIP</dd>

      <dt>会员期限</dt>
      <dd>无限期</dd>
    </dl>
  {% elif account.isMember %}
    <div class="pb-3 mb-3 mt-3 border-bottom text-right">
      <a href="{{ sitemap.renewal }}" class="btn btn-primary">续订</a>
    </div>

    <dl>
      <dt>会员类型</dt>
      <dd>{{ account.member.localizeTierCycle }}</dd>

      <dt>会员期限</dt>
      <dd>{{ account.member.expireDate }}</dd>
    </dl>

    <div class="text-right">
      <a href="{{ sitemap.subs }}/orders">订单历史</a>
    </div>
  {% else %}
    <h4>订阅FT中文网会员</h4>
  {% endif %}

{% endblock %}
