{% extends "layouts/center.html" %}

{% block content %}
<div class="mt-4">
  <h4 class="text-center">找回密码</h4>

  {% if flash %}{{ flash.render() | safe }}{% endif %}

  {# Show message after password reset letter is sent, or password is reset. #}

  {% if done %}
    <div>{{ done.message }}</div>
    {% if done.link %}
    <a class="btn btn-primary btn-block mt-2" href="{{ done.link.href }}">{{ done.link.text }}</a>
    {% endif %}
  {% endif %}

  {% if form %}
  <form method="post">

    {% for control in form.controls %}
      {{ control.render() | safe }}
    {% endfor %}

    {{ form.submitBtn.render() | safe }}

  </form>
  {% endif %}

</div>
  
{% endblock %}
