{% extends "layouts/center.html" %}

{% block content %}
<div class="mt-4">
  <h4 class="text-center">找回密码</h4>

  {# Show invalid token message #}
  {% include "partials/alert-danger.html" %}

  {# Show message after password reset letter is sent, or password is reset. #}

  {% if done %}
    <div>{{ done.message }}</div>
    {% if done.link %}
    <a class="btn btn-primary btn-block mt-2" href="{{ done.link.href }}">{{ done.link.text }}</a>
    {% endif %}
  {% endif %}

  {% if input %}
  <form method="post">

    {% include "partials/input.html" %}

    <button 
      class="btn btn-block btn-primary" 
      type="submit"
      data-disable-with="正在发送...">发送邮件</button>

  </form>
{% endif %}

</div>
  
{% endblock %}
