{% extends "layouts/center.html" %}

{% block content %}
<div class="mt-4">
  <h4 class="text-center">更改 {{email}} 的密码</h4>

  <form method="post">
    <div class="form-group">
      <label for="password">密码</label>
      <input class="form-control"
        id="password"
        type="password"
        name="password"
        required>
      
      {% if errors.password %}
        <div class="form-errortext">{{errors.password}}</div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="confirmPassword">再次输入确认</label>
      <input class="form-control"
        id="confirmPassword"
        type="password"
        name="confirmPassword"
        required>
      <small class="form-text text-muted">请确保两次输入的密码一致</small>
      {% if errors.confirmPassword %}
        <div class="form-errortext">{{errors.confirmPassword}}</div>
      {% endif %}

    </div>
    <button class="btn btn-primary btn-block" type="submit">重置密码</button>
  </form>
</div>
  
{% endblock %}
