.o-header {
    background-color: $color-paper;
    color: $color-black80;
    border-bottom: 1px solid $color-black20;
  }
  
  .navbar-brand,
  .dropdown-toggle {
    color: $color-black80;
  }
  
  .navbar-brand:hover,
  .dropdown-toggle:hover {
    color: $color-black70;
  }
