.o-toggle {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0;
  display: inline-block;
  align-self: stretch;
}
.o-header {
  background-color: $color-paper;
  color: $color-black80;
  border-bottom: 1px solid $color-black20;
  padding: $navbar-padding-y 0;

  .o-toggle {
    margin-right: -$grid-gutter-width/2;
  }
}

@include media-breakpoint-up(sm) {
  // .o-header {
  //   padding: $navbar-padding-y 0;
  // }

  .o-header .o-toggle {
    display: none;
  }
}
  
.navbar-brand,
.dropdown-toggle {
  color: $color-black80;

  &:hover {
    color: $color-black70;
  }
}


