@import "palette";
@import "scss/functions";
@import "scss/variables";

@import "scss/mixins/breakpoints";

body {
  font-family: "Helvetica Neue", "Lucida Grande", Verdana, "PingFang SC",
    "PingFang TC", "Hiragino Sans GB", "Heiti SC", "Heiti TC",
    "WenQuanYi Micro Hei", "Microsoft YaHei", "Microsoft JhengHei", STHeiti,
    sans-serif;
  background-color: $color-paper;
}
.page-content {
  min-height: 80vh;
}
table caption {
  caption-side: top;
  text-align: right;
}
a, .text-teal {
  color: $color-teal;
}

a {
  &:hover {
    color: $color-black70;
  }
}

.alert,
.btn {
  border-radius: 0;
}

@import "card";
@import "header";
@import "nav";
@import "button";
@import "form";
@import "footer";

.global-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -1rem;
  margin-left: -1rem;
}
.spinner-border {
  &[aria-hidden="true"] {
    display: none;
  }
  &[aria-hidden="false"] {
    display: inline-block;
  }
}
.feedback {
  z-index: 1000;
  display: block;
  width: 100px;
  // height: 28px;
  position: fixed;
  right: 3px;
  bottom: 50px;
  margin-right: -39px;
  padding: 3px 5px;
  color: #fff;
  background-color: #0d7680;
  border: 1px solid #0d7680;
  -webkit-transform: translate3d(0, 0, 0) rotate(-90deg);
  transform: translate3d(0, 0, 0) rotate(-90deg);
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
  span {
    display: block;
    text-align: center;
  }
}
