@import "palette";

body {
  font-family: "Helvetica Neue", "Lucida Grande", Verdana, "PingFang SC",
    "PingFang TC", "Hiragino Sans GB", "Heiti SC", "Heiti TC",
    "WenQuanYi Micro Hei", "Microsoft YaHei", "Microsoft JhengHei", STHeiti,
    sans-serif;
  background-color: $color-paper;
}
.page-content {
  min-height: 80vh;
}
table caption {
  caption-side: top;
  text-align: right;
}
a, .text-teal {
  color: $color-teal;
}

a {
  &:hover {
    color: $color-black70;
  }
}

.alert,
.btn {
  border-radius: 0;
}

@import "card";
@import "header";
@import "nav";
@import "button";
@import "form";
@import "footer";

.o-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
}

.global-spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -1rem;
  margin-left: -1rem;
}
.global-spinner.show {
  visibility: visible;
}
.global-spinner.hide {
  display: block;
}
