{% extends "password/base.html" %}

{% block action %}

  {% if errors.code %}
  <p>It seems you clicked a wrong link.</p>
  {% endif %}

  <form method="post">
    <div class="form-group">
      <label for="email">请输入您的电子邮箱，我们会向该邮箱发送邮件，帮您重置密码</label>
      <input class="form-control"
      id="credentialsEmail"
      type="email"
      name="email"
      value="{{email}}"
      placeholder="登录FT中文网所用的邮箱"
      required>

      {% if errors.email %}
      <div class="form-errortext">
        {{errors.email}}
      </div>
      {% endif %}

      {% if errors.notFound %}
      <div class="form-errortext">该邮箱尚未注册，您可以使用该邮箱<a href="/signup?source=password-reset&email={{errors.notFound}}">创建FT中文网账号</a></div>
      {% endif %}
    </div>

    <button class="btn btn-block btn-primary" type="submit">发送邮件</button>
  </form>
{% endblock %}
