{% extends "layouts/center.html" %}

{% block content %}
  <h4 class="text-center">更改 {{email}} 的密码</h4>

  {% if errors.pwMismatch %}
  <div class="form-errortext">两次输入的密码不符，请重新输入</div>
  {% endif %}

  {% if errors.pwInvalid%}
  <div class="form-errortext">密码非法</div>
  {% endif %}

  <form method="post">
    <div class="form-group">
      <label for="password">密码</label>
      <input class="form-control"
      id="password"
      type="password"
      name="password"
      required>
    </div>
    <div class="form-group">
      <label for="passwordConfirmation">再次输入确认</label>
      <input class="form-control"
      id="passwordConfirmation"
      type="password"
      name="passwordConfirmation"
      required>
    </div>
    <button class="btn btn-primary btn-block" type="submit">更改密码</button>
  </form>
{% endblock %}