{% extends "layouts/base.html" %}

{% block main %}
<div class="row justify-content-center">
  <div class="col-md-7 col-lg-5 col-xl-4">
    <div class="mt-4">
      <h4 class="text-center">找回密码</h4>
      
      {% if errors.invalidLink %}
        <div class="form-errortext">您似乎点击了无效的重置密码链接，请重试</div>
      {% endif %}

      {% if not emailSent %}
      <form method="post">
        <div class="form-group">
          <label for="email">请输入您的电子邮箱，我们会向该邮箱发送邮件，帮您重置密码</label>
          <input class="form-control"
          id="credentialsEmail"
          type="email"
          name="email"
          value="{{email}}"
          placeholder="登录FT中文网所用的邮箱"
          required>

          {% if errors.email %}
          <div class="form-errortext">
            {{errors.email}}
          </div>
          {% endif %}

          {% if errors.notFound %}
          <div class="form-errortext">该邮箱尚未注册，您可以使用该邮箱<a href="/signup?source=password-reset&email={{errors.notFound}}">创建FT中文网账号</a></div>
          {% endif %}
        </div>

        <button class="btn btn-block btn-primary" type="submit">发送邮件</button>
      </form>
      {% else %}
      <p>检查您的邮件，点击邮件中的“重置密码”按钮修改您的密码。如果几分钟内没有看到邮件，请检查是否被放进了垃圾邮件列表。</p>
      <a class="btn btn-block btn-primary" href="/login">返回登录页</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
