{% extends "layouts/center.html" %}

{% block content %}
<div class="mt-4">
  <h4 class="text-center">登录FT中文网</h4>

  {% if errors.credentials %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <span>{{errors.credentials}}</span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}

  <form method="post" id="loginForm">
    <div class="form-group">
      <label for="email">邮箱</label>
      <input class="form-control"
        id="email"
        type="email"
        name="credentials[email]"
        value="{{credentials.email}}"
        placeholder="电子邮箱"
        maxlength="64"
        required>

      {% if errors.email %}
        <div class="form-errortext">{{errors.email}}</div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="password">密码</label>
      <input class="form-control"
        id="password"
        type="password"
        name="credentials[password]"
        placeholder="密码"
        maxlength="64"
        required>

      {% if errors.password %}
      <div class="form-errortext">{{errors.password}}</div>
      {% endif %}
    </div>
    
    <div class="form-check clearfix">
      <input class="form-check-input"
        id="rememberMe"
        type="checkbox"
        name="rememberMe"
        value="true"
        checked>
      <label for="rememberMe">记住我</label>

      <a class="float-right" href="{{sitemap.passwordReset}}">忘记密码?</a>
    </div>

    <button
      class="btn btn-block btn-primary" 
      data-disable-with="正在登录..."
      type="submit">登录</button>
  </form>
  <p class="text-center pt-3">还没有FT中文网账号?<a href="{{sitemap.signup}}">创建</a></p>

  {% if not isMobile %}
  <div class="text-center mt-5">
    <a href="{{ sitemap.wxLogin }}">
        <img src="https://open.weixin.qq.com/zh_CN/htmledition/res/assets/res-design-download/icon32_wx_button.png" alt="微信登录">
    </a>
  </div>
  {% endif %}
</div>


{% endblock %}
